<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="testa">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>Museo Villa Bonelli</title>
</head>



<nav th:fragment="barra">
	<a class="active" th:href="@{/}">Home</a>
	<a href="artisti">Artisti</a>
	<a href="collezioni">Collezioni</a>
	<a href="opere">Opere</a>
	<a href="curatori">Curatori</a>
	<a href="informazioni">Informazioni</a>

	<form th:action="@{/ricerca}" method="GET">
		<span>Cerca nel museo</span>
		<span><input type="text" name="cerca" required /></span>
		<span><button type="submit">Cerca</button></span>
	</form>
</nav>

<footer th:fragment="fondo">
	<a th:href="@{/}">Home</a>
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/curatori}">Curatori</a>
	<a th:href="@{/opere}">Opere</a>
</footer>

</html>
