<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="testa">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title>Museo Villa Bonelli</title>

</head>

<nav th:fragment="barra">
	<a class="active" th:href="@{/}">Home</a>
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/opere}">Opere</a>
	<a th:href="@{/curatori}">Curatori</a>
	<a th:href="@{/informazioni}">Informazioni</a>
	<a th:href="@{/login}">Login</a>
	<a th:href="@{/register}">Registrati</a>

	<form th:action="@{/ricerca}" method="GET">
		<span>Cerca nel museo</span>
		<span><input type="text" name="cerca" required /></span>
		<span><button type="submit">Cerca</button></span>
	</form>
</nav>



<nav th:fragment="barraLoggato">
	<a class="active" th:href="@{/default}">Home</a>
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/opere}">Opere</a>
	<a th:href="@{/curatori}">Curatori</a>
	<a th:href="@{/informazioni}">Informazioni</a>
	<a th:href="@{/logout}">Logout</a>

	<div class="dropdown" sec:authorize="hasAuthority('ADMIN')">
		<button class="dropbtn">Menù admin
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a th:href="@{/admin/addArtista}"> Aggiungi artista</a>
			<a th:href="@{/admin/addOpera}"> Aggiungi opera</a>
			<a th:href="@{/admin/addCollezione}"> Aggiungi collezione</a>
			<a th:href="@{/admin/addCuratore}"> Aggiungi curatore</a>
			<a th:href="@{/admin/cancellaOpera}">Cancella un'opera</a>
		</div>
	</div>


	<form th:action="@{/ricerca}" method="GET">
		<span>Cerca nel museo</span>
		<span><input type="text" name="cerca" required /></span>
		<span><button type="submit">Cerca</button></span>
	</form>
</nav>

<footer th:fragment="fondo">
	<a th:href="@{/artisti}">Artisti</a>
	<a th:href="@{/collezioni}">Collezioni</a>
	<a th:href="@{/curatori}">Curatori</a>
	<a th:href="@{/opere}">Opere</a>
</footer>

</html>
