<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti.css}" rel="stylesheet">

<head th:replace="fragments/base.html :: testa"></head>

<header>
	Artisti
</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="container">
		<div class="gallery" th:each="artista : ${artisti}">
			<a th:href="@{'/artista' + '/' + ${artista.id}}">
				<img th:src="${artista.immagine}">
			</a>
			<div class="desc" th:text="|${artista.nome} ${artista.cognome}|"></div>
		</div>
	</div>
</body>

<footer th:replace="fragments/base.html :: fondo"></footer>

</html>
