<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body>
	<header>
		Artisti
	</header>
</body>

<div>
	<ul id="flex-container">
		<li class="elemento flex-item" th:each="artista, iterStat : ${artisti}"
		th:if="${iterStat.index < iterStat.size/2}">
				<a th:href="@{'/artista' + '/' + ${artista.id}}">
					<img th:src="${artista.immagine}" 
					th:alt="|${artista.nome} ${artista.cognome}|"
					height="300">
				</a>
				<div class="desc" th:text="|${artista.nome} ${artista.cognome}|">
			</div>
		</li>
	</ul>
</div>

<div>
	<ul id="flex-container-2">
		<li class="elemento flex-item" th:each="artista, iterStat : ${artisti}"
		th:if="${iterStat.index >= iterStat.size/2}">
				<a th:href="@{'/artista' + '/' + ${artista.id}}">
					<img th:src="${artista.immagine}" 
					th:alt="|${artista.nome} ${artista.cognome}|"
					height="300">
				</a>
				<div class="desc" th:text="|${artista.nome} ${artista.cognome}|">
			</div>
		</li>
	</ul>
</div>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>