<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artisti.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body>
	<header>
		Artisti
	</header>
</body>

<section class="container">
	<ul class="lista">
		<li class="elemento" th:each="artista : ${artisti}">
			<div class="flex-item">
			<a th:href="@{'/artista' + '/' + ${artista.id}}">
					<img th:src="${artista.immagine}" 
					th:alt="|${artista.nome} ${artista.cognome}|"
					height="300">
				</a>
				<div class="desc" th:text="|${artista.nome} ${artista.cognome}|"></div>
			</div>
		</li>
	</ul>
</section>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>