<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artista.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body th:if="${artista}" th:object="${artista}">
	<header th:text="|*{nome} *{cognome}|"></header>
</body>

<section id="flex-container-1">
	<div class="flex-item" th:if="${artista}" th:object="${artista}">
		<div>
			<span class="descrittori">Data di nascita: </span>
			<span th:text="*{dataNascita}"></span>
		</div> 
		<div>
			<span class="descrittori">Data di morte: </span>
			<span th:text="*{dataMorte}"></span>
		</div> 
		<div>
			<span class="descrittori">Luogo di nascita: </span>
			<span th:text="*{luogoNascita}"></span>
		</div> 
		<div>
			<span class="descrittori">Luogo di morte: </span>
			<span th:text="*{luogoMorte}"></span>
		</div> 
		<div>
			<span class="descrittori">Nazionalità: </span>
			<span th:text="*{nazionalita}"></span>
		</div> 
	</div>
	<a class="flex-item-1" th:href="${artista.immagine}">
		<img th:src="${artista.immagine}"
		th:alt="|${artista.nome} ${artista.cognome}|"
		height="300">
	</a>
</section>

<section class="biografia">
	<h2>Biografia:</h2>
	<div th:if="${artista}" th:object="${artista}" class="biografia" th:text="*{biografia}"></div>
</section>

<h2>Opere:</h2>
<ul>
	<li th:each="opera : ${opere}">
		<div th:text="${opera.titolo}" ></div>
	</li>
</ul>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>


