<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezioni.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<header>Collezioni</header>

<nav th:replace="fragments/base.html :: barra"></nav>
<body>
	<div class="container">
		<div class="gallery" th:each="collezione : ${collezioni}">
			<a th:href="@{'/collezione' + '/' + ${collezione.id}}">
				<img th:src="${collezione.immagine}">
			</a>
			<div class="desc" th:text="${collezione.nome}"></div>
		</div>
	</div>
</body>
<footer th:replace="fragments/base.html :: fondo"></footer>

</html>