<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Museo Villa Bonelli - Aggiungi una collezione</title>
</head>

<body>
  <div>
    <h4>Inserisci i dati di una collezione</h4>
  </div>

  <form th:action="@{/collezione}" method="POST" th:object="${collezione}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>
      
     <div>
        <span>Nome:</span>
        <span><input type="text" th:field="*{nome}" /></span>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
      </div>

      <div>
        <span>Descrizione:</span>
        <span><input type="text" th:field="*{descrizione}" /></span>
        <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
      </div>
      
          <div>
      <span>Curatore:</span>
      <span>
        <select th:field="${collezione.curatore}">
          <option value="0">Seleziona curatore</option>
          <option th:each="curatore : ${curatori}" th:value="${curatore.id}" th:text="|${curatore.nome} ${curatore.cognome}|"></option>
        </select>
      </span>
    </div>

    </div>

    <div>
      <span><button type="submit">Invio</button></span>
    </div>
  </form>
</body>

</html>