<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezione.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body th:if="${collezione}" th:object="${collezione}">
	<header class="capitalize" th:text="*{nome}"></header>
</body>

<section class="image">
	<div>
		<a th:href="${collezione.immagine}">
			<img th:src="${collezione.immagine}" th:alt="${collezione.nome}">
		</a>
	</div>
</section>

<section class="description">
	<h2>
		Descrizione:
	</h2>
	<div th:text="${collezione.descrizione}"></div>
</section>

<section class="description">
	<h2>
		Curatore:
	</h2>
	<a th:href="@{'/curatore' + '/' + ${collezione.curatore.id}}" class="capitalize"
	th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">

</a>
</section>

<footer th:replace="fragments/base.html :: fondo"></footer>

</html>