<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/collezioneForm.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
  <div>
    <h4>Inserisci i dati di una collezione</h4>
  </div>

  <form th:action="@{/admin/inserisciCollezione}" method="POST" th:object="${collezione}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>
      
     <div>
      <span>Nome:</span>
      <span><input type="text" th:field="*{nome}" /></span>
      <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    </div>

    <div>
      <span>Descrizione:</span>
      <span><input type="text" th:field="*{descrizione}" /></span>
      <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
    </div>

    <div>
      <span>URL immagine:</span>
      <span><input type="text" th:field="*{immagine}" /></span>
      <span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
    </div>
    
    <div>
      <span>Curatore:</span>
      <span>
        <select th:field="${collezione.curatore}">
          <option value="0">Seleziona curatore</option>
          <option th:each="curatore : ${curatori}" th:value="${curatore.id}" th:text="|${curatore.nome} ${curatore.cognome}|"></option>
        </select>
      </span>
    </div>

  </div>

  <div>
    <span><button type="submit">Invio</button></span>
  </div>
</form>
</body>

</html>