<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/curatore.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body th:if="${curatore}" th:object="${curatore}">
	<header th:text="|*{nome} *{cognome}|"></header>
</body>

<section id="flex-container-1">
	<div class="flex-item" th:if="${curatore}" th:object="${curatore}">
		<div>
			<span class="descrittori">Luogo di nascita: </span>
			<span th:text="*{luogoNascita}"></span>
		</div> 
		<div>
			<span class="descrittori">Email: </span>
			<span th:text="*{email}"></span>
		</div> 
		<div>
			<span class="descrittori">Telefono: </span>
			<span th:text="*{telefono}"></span>
		</div> 

		<div>
			<span class="descrittori">Matricola: </span>
			<span th:text="*{matricola}"></span>
		</div> 
	</div>
	<a class="flex-item-1" th:href="${curatore.immagine}">
		<img th:src="${curatore.immagine}"
		th:alt="|${curatore.nome} ${curatore.cognome}|"
		height="300">
	</a>
</section>

<h2>Collezioni curate:</h2>
<div>
	<a>Modifica collezioni</a>
</div>

<div class="flex-container-2">
	<ul>
		<li th:each="collezione : ${collezioni}">
			<div>
				<a th:href="@{'/collezione' + '/' + ${collezione.id}}">
					<img class="immagine" th:src="${collezione.immagine}">
				</a>
			</div>
		</li>
	</ul>
</div>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>
