<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/curatoreForm.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
  <div>
    <h4>Inserisci i dati di un curatore</h4>
  </div>

  <form th:action="@{/admin/inserisciCuratore}" method="POST" th:object="${curatore}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>
      
     <div>
        <span>Nome:</span>
        <span><input type="text" th:field="*{nome}" /></span>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
      </div>

      <div>
        <span>Cognome:</span>
        <span><input type="text" th:field="*{cognome}" /></span>
        <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
      </div>

       <div>
        <span>Luogo di nascita:</span>
        <span><input type="text" th:field="*{luogoNascita}" /></span>
        <span th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></span>
      </div>

      <div>
        <span>Email:</span>
        <span><input type="text" th:field="*{email}" /></span>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      </div>

      <div>
        <span>Telefono:</span>
        <span><input type="text" th:field="*{telefono}" /></span>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
      </div>

        <div>
        <span>Matricola:</span>
        <span><input type="text" th:field="*{matricola}" /></span>
        <span th:if="${#fields.hasErrors('matricola')}" th:errors="*{matricola}"></span>
      </div>

        <div>
        <span>Immagine:</span>
        <span><input type="text" th:field="*{immagine}" /></span>
        <span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
      </div>

        <div>
      <span>Collezione:</span>
      <span>
        <select th:field="${curatore.collezioniCurate}">
          <option value="0">Seleziona collezioni</option>
          <option th:each="collezione : ${collezioni}" th:value="${collezione.id}" th:text="${collezione.nome}"></option>
        </select>
      </span>
    </div>

    </div>

    <div>
      <span><button type="submit">Invio</button></span>
    </div>
  </form>
</body>

</html>