<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/artista.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body th:if="${artista}" th:object="${artista}">
	<header th:text="|*{nome} *{cognome}|"></header>
</body>

<h2>Opere di questo artista:</h2>
<ul>
	<li th:each="opera : ${opereArtista}">
		<div th:text="${opera.titolo}" ></div>
	</li>
</ul>

<div>
	<form th:action="@{/eliminaOpere}" method="GET" >
		<div><strong>Seleziona opera da cancellare:</strong>
			<select th:name="listaOpere">
				<option th:each="opera: ${opereArtista}"
				th:value="${opera.id}" th:text="${opera.titolo}">
			</select>
		</div>
		<button th:type="submit" th:name="action" th:value="elimina">Elimina</button>
	</div>    
</form>
</div>

<h2>Tutte le opere:</h2>
<ul>
	<li th:each="opera : ${TutteOpere}">
		<div th:text="${opera.titolo}" ></div>
	</li>
</ul>

<footer th:replace="fragments/base.html :: fondo"></footer>
</html>
