<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/index.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body>
  
  <header>Museo Villa Bonelli</header>

  <nav id="barra_alta"> 
    <a href="artisti">Artisti</a>
    <a href="collezioni">Collezioni</a>
    <a href="opere">Opere</a>
    <a href="curatori">Curatori</a>
    <a href="informazioni">Informazioni</a>
    <input type="text" placeholder="Search..">
    <span><button type="submit">Invio</button></span>
  </nav>

<div>
  <ul id="flex-container">
    <li class="elemento flex-item" th:each="opera, iterStat : ${opere}"
    th:if="${iterStat.index == 0 || iterStat.index == 1}">
        <a th:href="@{'/opera' + '/' + ${opera.id}}">
          <img th:src="${opera.immagine}" 
          th:alt="${opera.titolo}"
          height="300">
        </a>
        <div class="desc" th:text="${opera.titolo}">
      </div>
    </li>
  </ul>
</div>

<div>
  <ul id="flex-container-2">
    <li class="elemento flex-item" th:each="opera, iterStat : ${opere}"
    th:if="${iterStat.index == 2 || iterStat.index == 3}">
        <a th:href="@{'/opera' + '/' + ${opera.id}}">
          <img th:src="${opera.immagine}" 
          th:alt="${opera.titolo}"
          height="300">
        </a>
        <div class="desc" th:text="${opera.titolo}">
      </div>
    </li>
  </ul>
</div>

<footer>
  <div>
    <a href="addArtista"> Aggiungi artista</a>
    <a href="addOpera"> Aggiungi opera</a>
    <a href="addCollezione"> Aggiungi collezione</a>
    <a href="addCuratore"> Aggiungi curatore</a>
  </div>
</footer>
</html>
