<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/index.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body>
  
  <header>Museo Villa Bonelli</header>

  <nav id="barra_alta"> 
    <a href="artisti">Artisti</a>
    <a href="collezioni">Collezioni</a>
    <a href="opere">Opere</a>
    <a href="informazioni">Informazioni</a>
  </nav>

  <div id="flex-container-1">
    <div class="gallery flex-item">
      <a target="_blank" href="file:///Users/francesco/Documents/University/3%20ANNO/II%20SEMESTRE/SISTEMI%20INFORMATIVI%20SUL%20WEB/sito%20museo/opera/opera.html">
        <img src="https://i.postimg.cc/wMkyCj4S/viandante-nebbia.jpg" alt="Viandante">
      </a>
      <div class="desc">
        Olio su tela di Caspar David Friedrich.
        Hamburger Kunsthalle, Amburgo.
      Movimento Romantico.</div>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="file:///Users/francesco/Documents/University/3%20ANNO/II%20SEMESTRE/SISTEMI%20INFORMATIVI%20SUL%20WEB/sito%20museo/images/salvador-dali.jpg">
        <img src="https://i.postimg.cc/nrx9SD24/salvador-dali.jpg" alt="Dali">
      </a>
      <div class="desc">Olio su tela di Salvador Dalí.
        Museum of Modern Art, New York.
      Movimento Surrealista.</div>
    </div>
  </div>

  <div id="flex-container-2">
    <div class="gallery flex-item">
      <a target="_blank" href="file:///Users/francesco/Documents/University/3%20ANNO/II%20SEMESTRE/SISTEMI%20INFORMATIVI%20SUL%20WEB/sito%20museo/images/botticelli-venere.jpeg">
        <img src="https://i.postimg.cc/fW79t8WB/botticelli-venere.jpg" alt="Botticelli">
      </a>
      <div class="desc">Temepera su tela di lino di Sandro Botticelli.
        Galleria degli Uffizi, Firenze.
      Rinascimento Italiano.</div>
    </div>

    <div class="gallery flex-item">
      <a target="_blank" href="file:///Users/francesco/Documents/University/3%20ANNO/II%20SEMESTRE/SISTEMI%20INFORMATIVI%20SUL%20WEB/sito%20museo/images/van-gogh.jpg">
        <img src="https://i.postimg.cc/nLFP3v1x/mov-impressionista.jpg" alt="Van Gogh">
      </a>
      <div class="desc">Olio su tela di Vincent Van Gogh.
        Museo d'Orsay,Parigi.
        Movimento Impressionista.
      </div>
    </div>
  </div>
</body>

<footer>
  <div>
    <a href="addArtista"> Aggiungi artista</a>
    <a href="addOpera"> Aggiungi opera</a>
    <a href="addCollezione"> Aggiungi collezione</a>
    <a href="addCuratore"> Aggiungi curatore</a>
  </div>
</footer>
</html>
