<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/index.css}" rel="stylesheet">
<head th:include="fragments/base.html :: testa">
</head>

<header>Museo Villa Bonelli</header>

<nav th:replace="fragments/base.html :: barra"></nav>

<body>
	<div>
		<h4>Login</h4>
	</div>
	<form th:action="@{/login}" method="POST">
		<div>
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>