<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Museo Villa Bonelli - Aggiungi un' opera</title>
</head>

<body>
  <div>
    <h4>Inserisci i dati di un' opera</h4>
  </div>

  <form th:action="@{/opera}" method="POST" th:object="${opera}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>
      
     <div>
        <span>Titolo:</span>
        <span><input type="text" th:field="*{titolo}" /></span>
        <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
      </div>

    </div>

    <div>
      <span><button type="submit">Invio</button></span>
    </div>
  </form>
</body>

</html>