<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body th:if="${opera}" th:object="${opera}">
	<header th:text="*{titolo}"></header>
</body>

<section class="image">
	<div>
		<a href="opera">
			<img th:if="${opera}" th:object="${opera}" src="" alt="${opera.titolo}">
		</a>
	</div>
</section>

<section class="description">
	<h2>
		Descrizione:
	</h2>
	<div th:if="${opera}" th:object="${opera}" th:text=*{descrizione}></div>
</section>

<footer th:replace="fragments/base.html :: fondo"></footer>

</html>