<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/operaForm.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<body>
  <div>
    <h4>Inserisci i dati di un' opera</h4>
  </div>

  <form th:action="@{/inserisciOpera}" method="POST" th:object="${opera}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>

    <div>

     <div>
      <span>Titolo:</span>
      <span><input type="text" th:field="*{titolo}" /></span>
      <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
    </div>

    <div>
      <span>Data di realizzazione:</span>
      <span><input type="date" th:field="*{dataRealizzazione}" /></span>
      <span th:if="${#fields.hasErrors('dataRealizzazione')}" th:errors="*{dataRealizzazione}"></span>
    </div>

    <div>
      <span>Descrizione:</span>
      <span><input type="text" th:field="*{descrizione}" /></span>
      <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
    </div>

    <div>
      <span>URL immagine:</span>
      <span><input type="text" th:field="*{immagine}" /></span>
      <span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
    </div>


    <div>
      <span>Artista:</span>
      <span>
        <select th:field="${opera.autore}">
          <option value="0">Seleziona autore</option>
          <option th:each="artista : ${artisti}" 
          th:value="${artista.id}" 
          th:text="|${artista.nome} ${artista.cognome}|"></option>
        </select>
      </span>
    </div>

    <div>
      <span><button type="submit">Invio</button></span>
    </div>
  </form>
</body>

</html>