<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/opera.css}" rel="stylesheet">

<head th:include="fragments/base.html :: testa"></head>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body th:if="${opera}" th:object="${opera}">
	<header th:text="*{titolo}"></header>
</body>

<section class="image">
	<div>
		<a th:href="${opera.immagine}">
			<img th:src="${opera.immagine}" th:alt="${opera.titolo}">
		</a>
	</div>
</section>

<section class="description">
	<h2>
		Descrizione:
	</h2>
	<div th:text="${opera.descrizione}"></div>
</section>

<section class="description" th:if="${opera.autore != null}">
	<h2>
		Autore:
	</h2>
	<a th:href="@{'/artista' + '/' + ${opera.autore.id}}" 
	th:text="|${opera.autore.nome} ${opera.autore.cognome}|">
</a>
</section>

<section th:unless="${opera.autore != null}">Aggiungi autore</section>

<section class="description">
	<h2>Collezione</h2>

	<a th:if="${collezione ==null}" th:href="@{/admin/addCollezione}">aggiungi collezione</a>
	<a th:unless="${collezione ==null}" th:href="@{/default}">modifica collezione</a>
</section>

<footer th:replace="fragments/base.html :: fondo"></footer>

</html>