<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/opere.css}" rel="stylesheet">


<head th:replace="fragments/base.html :: testa"></head>

<header>Opere</header>

<nav th:replace="fragments/base.html :: barraLoggato"></nav>

<body>
	<div class="container">
		<div class="gallery" th:each="opera : ${opere}">
			<a th:href="@{'/opera' + '/' + ${opera.id}}">
				<img th:src="${opera.immagine}">
			</a>
			<div>
				<span class="desc" th:text="${opera.titolo}"></span>
				<span sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{'/admin/modificaOpera'+'/' +${opera.id}}">Modifica opera</a>
				</span>
				<span sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{'/admin/cancellaOpera'+'/' +${opera.id}}">Cancella opera</a>
				</span>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>