body{
  background-color: #c5e5fa;
}
header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
}

#flex-container-1{
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}

.descrittori{
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
}

.flex-item-1{
  padding: 3px;
  border: 1px solid black;
  width: auto;
  height: auto;
}

#biografia{
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

#flex-container-2{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}


#lista {
  display: flex;
  flex-direction: row; <-- not needed as this is the default behavior
  flex-wrap: wrap;
  list-style-type: none;
}

.elemento{
  list-style-type: none ;
}

h2{
  font-family: 'Open Sans', sans-serif;
}

footer{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #a2d7fa;
}

#foot{
  word-spacing: 30px;
}