*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #c5e5fa;
}
header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
}

#biografia{
  padding: 10px;
}

#flex-container-1{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}

.descrittori{
  font-weight: bold;
}

.flex-item-1{
  padding: 3px;
  border: 1px solid black;
  width: auto;
  height: auto;
}

.flex-container-2 {
  width: auto;
  display: inline-block;
}

ul {
  list-style-type: none;
}

.immagine{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-container-2  li{
  margin: 10px 0;
}

.flex-container-2  div{
  width: auto;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
