*{
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}

body{
  background-color: #F5F3EB;
}
header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
}

#biografia{
  padding: 10px;
}

#flex-container-1{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a { 
	text-decoration: none;
	color: #ffdb4d;
}

.descrittori{
  font-weight: bold;
  color: #5F6973;
}

.container{
  max-width: 1250px;
  margin: auto;
  background: #e6e6e6;
  overflow: auto;
}

.capitalize{
	text-transform: capitalize;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 300px;
}

.gallery img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}


.desc{
  padding: 15px;
  text-align:center;
  font-size: 20px;
  text-transform: capitalize;
} 


.flex-item-1{
  padding: 3px;
  border: 1px outset gray;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: #706f6f;
}

.flex-container-2 {
  width: auto;

}

.immagine{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.flex-container-2  div{
  width: auto;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  display: inline-grid;
  float: left;
  margin-right: 10px;
  margin-left: 10px;

}
