*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #ffd6f4;
}
header{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 50px;
}

section.image{
  text-align: center;
  padding: 10px 0 0 0;
}

section.description{
  padding: 10px;
  
}