*{
  font-family: 'Open Sans', sans-serif;
}

html{
	position: relative;
	text-transform: capitalize;
	 min-height: 100%;

}
body{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

div {
	margin-bottom: 10px;
	margin-top: 10px;
}