body{
  text-align: center;
  background-color: #ffd3c7;
}
header{
  font-family: 'Girassol', cursive;
  font-size: 50px;
}
nav{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: ;
  padding: 10 0 10 0;
  font-size: 30;
  word-spacing: 50;
}

.gallery.flex-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
  height: 400px;
}

#flex-container-1{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#flex-container-2{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: auto;
  height: 80%;
  padding: 10 0 0 0;
}

div.desc {
  padding: 10 0 10 0;
  text-align: center;
}