*{
  font-family: 'Open Sans', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

header{
  font-family: 'Girassol', cursive;
  font-size: 50px;
  text-align: center;
}

body{
  padding: 0;
  background-color: #f5f3ea;
  margin: 0 0 100px;
}

nav{
  overflow: hidden;
  background: #ffcc04;
  line-height: 30px;
}

nav a{
  float: left;
  display: block;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav a:hover{
  background: #ddd;
  color: #000;
}

nav .active{
  background: #e3b910;
}

nav form{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 16px;
  margin-right: 100px;
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-item {
  overflow: hidden;
  list-style-type: none ;
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.immagine{
  max-width: 90%;
  object-fit: fill;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

div.flex-item:hover {
  border: 2px solid #777;
}

footer{
  margin: 200px 0 0 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #252625;
  height: 60px;
  width: 100%;
  color: white;
  padding: 20px 0 0 0;
}

footer a{
  color: #ffffff;
}
