*{
  font-family: 'Open Sans', sans-serif;
}

header{
  text-align: center;
  font-family: 'Girassol', cursive;
  font-size: 50px;
}

iframe{
  width: 80%;
  height: 600px;
  border: 2px solid #fff;
}

